<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">
    <mat-toolbar
      color="primary"
      fxLayoutGap="8px"
      class="app-toolbar"
      [class.app-is-mobile]="media.isActive('xs')"
      *ngIf="(authService.authStatus | async) as authStatus">
        <button
            *ngIf="authStatus.isAuthenticated"
            mat-icon-button
            (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <a mat-icon-button routerLink="/home">
            <mat-icon svgIcon="lemon"></mat-icon>
            <span class="mat-h2">LemonMart</span>
        </a>
        <span class="flex-spacer"></span>
        <button
            *ngIf="authStatus.isAuthenticated"
            mat-mini-fab
            routerLink="/user/profile"
            matTooltip="Profile"
            aria-label="User Profile">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button
            *ngIf="authStatus.isAuthenticated"
            mat-mini-fab
            routerLink="/user/logout"
            matTooltip="Logout"
            aria-label="Logout">
            <mat-icon>lock_open</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container class="app-sidenav-container">
      <mat-sidenav
        #sidenav
        [mode]="media.isActive('xs') ? 'over' : 'side'"
        [fixedInViewport]="media.isActive('xs')"
        fixedTopGap="56">
        <app-navigation-menu></app-navigation-menu>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet class="app-container"></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

<br/><br/><div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
